.botHeader {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.badge {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.badge p:nth-child(2) {
    font-size: 30px;
    color: #f16d7f;
}

.Product .btn p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
}

.Feature .right h2 {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.Feature .right p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.Subscribe .left p:nth-child(1) {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.Subscribe .left h2:nth-child(2) {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.Subscribe .left p:nth-child(3) {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;
}

.Subscribe .right h1 {
    font-family: Lato;
    font-size: 24px;
    /* line-height: 54px; */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
}

.Subscribe .right p {
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
    font-size: 14px;
    /* line-height: 24px; */
    text-transform: none;
}

.Footer .container div:nth-child(1) {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

.Footer .container .footerText h2 {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.Footer .container .footerText p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
}

.FooterSecond .container p {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

/* singlePage */

.breadcrumb .container div:nth-child(1) {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.breadcrumb .container div:nth-child(2) {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;
}

.breadcrumb .container span {
    font-weight: 700;
    color: #f16d7f;
}

.productDescription p:nth-child(1) {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
}

.productDescription p:nth-child(2) {
    font-family: Lato;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
}

.productDescription p:nth-child(3) {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
}

.productDescription p:nth-child(4) {}

.productDescription p:nth-child(5) {
    font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
}

.productDescription .flex p {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70;
    text-transform: unset;
}




.nameItem{
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    text-align: start;
    margin-top: 18px;
    margin-left: 15px;
    text-align: start;
}
/* .container .nameItem div p {
    text-align: start;
} */
.priceItem{
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    margin-top: 18px;
    margin-left: 15px;
    text-align: start;
}