.x{
    max-width: 1600px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}
img {
    width: 100%;
}





.Header {
    height: 151px;
}
.Header .container {
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}
.Header .container div {
    height: 100%;
}
.Header .topHeader{
    justify-content: space-between;
}



.botHeader ul {
    justify-content: space-between;
    max-width: 680px;
    margin: 0 auto;
    
}





.topHeader{
    border-bottom: 1px solid #e8e8e8  ;
}
.topHeader div{
    height: 100%;
    
}
.topHeader .flex div{
    align-self: center;
}

.topHeader .flex div:nth-child(1){
    width: 59px;
    height: 51px;
    margin-right: 19px;
}
.topHeader .browse {
    margin-left: 37px;
}









.Slider{
    background-image: url(/img/slider-back.png);
    height: 614px;
    
}
.Slider .container {
    background-image: url(/img/Layer_24.png);
    
    height: 100%;
}
