.x{
    max-width: 1600px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
}

.Header {
    height: 151px;
}
.Header .container {
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}
.Header .container div {
    height: 100%;
}
/* .Header .botHeader {
    max-width: 680px;

} */
.Header ul {
    justify-content: space-between;
    max-width: 680px;
    margin: 0 auto;
    
}

.Slider{
    background-image: url(/img/slider-back.png);
    height: 614px;
    
}
.Slider .container {
    background-image: url(/img/Layer_24.png);

    height: 100%;
}
